Source: frei0r
Section: video
Priority: optional
Maintainer: Luca Bigliardi <shammash@artha.org>
Uploaders: Denis Rojo <jaromil@dyne.org>
DM-Upload-Allowed: yes
Vcs-Git: git://git.dyne.org/frei0r.git
Vcs-Browser: http://git.dyne.org/?r=frei0r
Homepage: http://www.piksel.org/frei0r
Build-Depends: cdbs, debhelper (>> 5.0.0), pkg-config, libcv-dev, libgavl-dev (>= 1.1.0)
Standards-Version: 3.8.1

Package: frei0r-plugins
Section: video
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: frei0r (<= 1.1.22)
Replaces: frei0r
Description: minimalistic plugin API for video effects, plugins collection
 frei0r is a minimalistic plugin API for video sources and filters. The
 behavior of the effects can be controlled from the host by simple
 parameters. The intent is to solve the recurring reimplementation or
 adaptation issue of standard effects. It is not meant as a generic API for
 all kinds of video applications.
 .
 frei0r plugins are used by several projects (e.g.: LiVES, Veejay, Open Movie
 Editor, FreeJ, Pure Data Visual Junk Tools, MLT framework).
 .
 This package contains a collection of plugins.

Package: frei0r-plugins-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}
Conflicts: frei0r-dev (<= 1.1.22)
Replaces: frei0r-dev
Description: minimalistic plugin API for video effects, header files
 frei0r is a minimalistic plugin API for video sources and filters. The
 behavior of the effects can be controlled from the host by simple
 parameters. The intent is to solve the recurring reimplementation or
 adaptation issue of standard effects. It is not meant as a generic API for
 all kinds of video applications.
 .
 frei0r plugins are used by several projects (e.g.: LiVES, Veejay, Open Movie
 Editor, FreeJ, Pure Data Visual Junk Tools, MLT framework).
 .
 This package contains the header needed to enable frei0r in other package
 at build time.

Package: frei0r-plugins-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Conflicts: frei0r-doc (<= 1.1.22)
Replaces: frei0r-doc
Description: minimalistic plugin API for video effects, API documentation
 frei0r is a minimalistic plugin API for video sources and filters. The
 behavior of the effects can be controlled from the host by simple
 parameters. The intent is to solve the recurring reimplementation or
 adaptation issue of standard effects. It is not meant as a generic API for
 all kinds of video applications.
 .
 frei0r plugins are used by several projects (e.g.: LiVES, Veejay, Open Movie
 Editor, FreeJ, Pure Data Visual Junk Tools, MLT framework).
 .
 This package contains the API documentation.

